body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(180deg, #0d47a1, #1b5e20);
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3em;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: black;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 50px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  flex: 1;
}

.simulador input {
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: yellow;
  color: black;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
}

/* animação */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}
